// Body
$body-bg: #212121;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

/*
https://materialuicolors.co/
 */

$grey900: #212121;

$pink50: #FCE4EC;
