// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "variables_theme";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "bootswatch";

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.welcome {
    nav {
        .navbar-brand {
            color: $white;
            text-transform: uppercase;
        }

        .navbar-nav {
            flex-direction: row;

            .btn {
                background-color: $white;
                color: $grey900;
                font-weight: bold;
            }
        }
    }

    .main {
        padding: 0;

        h1 {
            font-size: 72px;
            text-transform: uppercase;
        }

        h2 {
            display: inline;
        }
    }

    hr { display: block; height: 1px;
        border: 0; border-top: 1px solid $white;
        margin: 1em 0; padding: 0; }
}
